/* Coolors Exported Palette - https://coolors.co/80ac10-556523-799a23-0b1626-9d8361-c1c8bb-bfc193-4c472c-062855-e1e6dd */


/* SCSS HEX */

$apple-green: #80AC10ff;
$dark-moss-green: #556523ff;
$asparagus: #799A23ff;
$rich-black: #0B1626ff;
$chamoisee: #9D8361ff;
$ash-gray: #C1C8BBff;
$sage: #BFC193ff;
$drab-dark-brown: #4C472Cff;
$oxford-blue: #062855ff;
$alabaster: #E1E6DDff;

/* SCSS HSL */

$apple-green: hsla(77, 83%, 37%, 1);
$dark-moss-green: hsla(75, 49%, 27%, 1);
$asparagus: hsla(77, 63%, 37%, 1);
$rich-black: hsla(216, 55%, 10%, 1);
$chamoisee: hsla(34, 24%, 50%, 1);
$ash-gray: hsla(92, 11%, 76%, 1);
$sage: hsla(63, 27%, 67%, 1);
$drab-dark-brown: hsla(51, 27%, 24%, 1);
$oxford-blue: hsla(214, 87%, 18%, 1);
$alabaster: hsla(93, 15%, 88%, 1);

/* SCSS RGB */

$apple-green: rgba(128, 172, 16, 1);
$dark-moss-green: rgba(85, 101, 35, 1);
$asparagus: rgba(121, 154, 35, 1);
$rich-black: rgba(11, 22, 38, 1);
$chamoisee: rgba(157, 131, 97, 1);
$ash-gray: rgba(193, 200, 187, 1);
$sage: rgba(191, 193, 147, 1);
$drab-dark-brown: rgba(76, 71, 44, 1);
$oxford-blue: rgba(6, 40, 85, 1);
$alabaster: rgba(225, 230, 221, 1);

/* SCSS Gradient */

$gradient-top: linear-gradient(0deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-right: linear-gradient(90deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-bottom: linear-gradient(180deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-left: linear-gradient(270deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-top-right: linear-gradient(45deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-bottom-right: linear-gradient(135deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-top-left: linear-gradient(225deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-bottom-left: linear-gradient(315deg, #80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);
$gradient-radial: radial-gradient(#80AC10ff, #556523ff, #799A23ff, #0B1626ff, #9D8361ff, #C1C8BBff, #BFC193ff, #4C472Cff, #062855ff, #E1E6DDff);