doctype html 
    html 
        head 
            title SahayNGO 
            link(rel="icon", href="../static/icon.png") 
            link(rel='stylesheet', href='../static/style.css') 
            link(rel="icon", href="../static/icon.png")
        body 
            nav#navbar 
                ul 
                    li #[a(href="/") Home] 
                    li #[a(href="/") About ] 
                    li #[a(href="/") Services ] 
                    li #[a(href="/") Contact Us ] 
                section#introSection div Welcome to Sahay NGO 
                div.small Helping the earth. 
                div.container button Join Us 
                section#missionSection 
                    h2 Our Mission 
                div.card 
                div.card-content 
                    h3 Sahay NGO is a non-governmental organization that works for environmental conservation and protection. We believe that theenvironment is our common heritage and we have a responsibility to preserve it for ourselves and future generations. 
                div.card-box 
                    div.card-img 
                        img(src="/static/bg6.jpg") 
        footer#footer | Copyright © 2023 SahayNFO.com | All Rights Reserved script include