extends base.pug
 
block scripts
  script(src='/static/index.js')

block style
        link(rel='stylesheet', href='../static/style.css')  
        link(rel='stylesheet', href='../static/services.css')
block icon 
        link(rel="icon", href="../static/icon.png") 

block content
      h3 Services
      div.container 
            h1 Environmental education and awareness 
            h2 We offer workshops, seminars, webinars, and online courses on various environmental topics such as climate change, biodiversity, pollution, waste management, etc. We also provide educational materials and resources for schools, colleges, and communities. Our goal is to increase environmental literacy and inspire people to take action for the environment.
 
            h1 Environmental consultancy and audit 
            h2 We provide professional advice and guidance on how to improve the environmental performance and sustainability of your organization, business, or project. We also conduct environmental audits and assessments to measure and monitor your environmental impact and compliance. We help you identify and implement the best practices and solutions for your environmental challenges and goals. 

            h1 Environmental volunteering and internship 
            h2 We offer opportunities for individuals and groups to volunteer or intern with us and gain valuable experience and skills in the environmental field. You can join our various projects and activities such as tree planting, clean-up drives, wildlife surveys, environmental campaigns, etc. You can also learn from our experts and mentors and network with other like-minded people. You can make a positive difference for the environment and your career.

            h1 Environmental research and innovation 
            h2 We conduct and support research and innovation on environmental issues and solutions. We collaborate with academic institutions, research organizations, and other stakeholders to generate and disseminate new knowledge and insights on the environment. We also encourage and facilitate the development and adoption of innovative technologies and practices that can benefit the environment and society.
